 <h1>Welcome to our new Search Engine</h1>

  <p>
   This is a simple application Simulating Polling using traditional HTTP. </p>

  <%= link_to "Click Here to Search", wait_path, :class => "signup_button round" %>

