<h1>Searching. Please wait...</h1>
<p><%= image_tag("searching.gif", :alt => "Searching", :class =>
  "round") %></p>
<p>
  <div class="ProgressBar">
    <div class="ProgressBarText"><span id="status">no</span>% complete</div>
    <div class="ProgressBarFill" style="width: 0%;"></div>
  </div>
</p>
